In [1]:
x = 7
print(x)
type(x)

7

int

In [2]:
45+72

117

In [3]:
type(10.5)

float

In [4]:
7*4

28

In [5]:
2**5

32

In [6]:
7/4

1.75

In [7]:
7//4

1

In [8]:
-13/4

-3.25

In [9]:
-13//4

-4

In [10]:
123/0

ZeroDivisionError: division by zero

In [ ]:
print("Welcome to python")
print("Welcome to my lesson")
print("Welcome","to","pyhton")
print("Welcome\nto python")
print("Welcome\t to python")
print("Welcome to python.Welcome to python.Welcome to python.\
Welcome to python.Welcome to python.Welcome to python.")
print("Sum is", 7+3)

Welcome to python
Welcome to my lesson
Welcome to pyhton
Welcome
to python
Welcome	 to python
Welcome to python.Welcome to python.Welcome to python.Welcome to python.Welcome to python.Welcome to python.
Sum is 10

In [ ]:
#This is our first lesson

In [ ]:
'''
XXXX
XXXX
XXXX
'''

'\nXXXX\nXXXX\nXXXX\n'

In [2]:
number1= input("enter a number= ")
print(number1)
type(number1)

5

str

In [4]:
number1= int(input("enter a number= "))
number2= int(input("enter another number= "))
print(number1+number2)

9

In [3]:
number1= float(input("enter a number= "))
number2= float(input("enter another number= "))
print(number1+number2)

6.6

In [5]:
number1=eval(input("enter a number= "))
#matematiksel işlem sonucunu girdi gibi yazabiliyorsun 2+4 gibi
#eval(string)

In [5]:
import math
eval("math.sqrt(16)")

4.0

In [6]:
number1= eval(input("enter a number= "))
number2= eval(input("enter another number= "))
if number1==number2:
    print(number1, "==", number2)
if number1!=number2:
    print(number1, "!=", number2)
if number1>=number2:
    print(number1, ">=", number2)
if number1<=number2:
    print(number1, "<=", number2)
if number1<number2:
    print(number1, "<", number2)
if number1>number2:
    print(number1, ">", number2)

5 != 6
5 <= 6
5 < 6

In [7]:
number1= eval(input("enter a number= "))
number2= eval(input("enter another number= "))
if number1==number2:
    print(number1, "==", number2)
elif number1!=number2:
    print(number1, "!=", number2)
elif number1>=number2:
    print(number1, ">=", number2)
elif number1<=number2:
    print(number1, "<=", number2)
elif number1<number2:
    print(number1, "<", number2)
elif number1>number2:
    print(number1, ">", number2)

5 != 8

In [8]:
number1= eval(input("enter a number= "))
number2=eval(input("enter another number= "))
if number1==number2:
    print(number1, "==", number2)
else:
    print(number1, "!=", number2)

3 != 2

In [12]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
for i in range(10):
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [15]:
for i in range(10):
    print((i+1),"hello")

1 hello
2 hello
3 hello
4 hello
5 hello
6 hello
7 hello
8 hello
9 hello
10 hello

In [16]:
for i in range(2,12):
    print(i)

2
3
4
5
6
7
8
9
10
11

In [18]:
for i in range(9,2,-1):
    print(i)

9
8
7
6
5
4
3

In [22]:
for i in range(5):
    print(i, end=" ")

0 1 2 3 4

In [23]:
print("?"*6)

??????

In [24]:
for i in range(4):
    print("?"*6)

??????
??????
??????
??????

In [25]:
for i in range(4):
    print("?"*(i+1))

?
??
???
????

In [26]:
product = 7
while product<=1000:
    product*=7

print(product)

2401

In [10]:
x= 10.93481459
print("x = %8.3f " % x)

x =   10.935

In [31]:
#f-string styling method
average = 6
print("average = ", average)
print(f"sinif ortalaması {average}")

average =  6
sinif ortalaması 6

In [16]:
number= 112.34567
print(F"sayımız {number:14.2f}")

sayımız         112.35

In [37]:
print(format(432.456, ".2f"))

432.46

In [48]:
x,y= input("enter a two value: ").split()
x =int(x)
y= int(y)
print("number of boys:", x)
print("number of girls:", y)
type(x)
type(y)

number of boys: 46
number of girls: 74

int

In [45]:
10%3

1

In [43]:
x=10.34567
print("sayiniz= %3.f"%x)

sayiniz=  10

In [4]:
x=10.34567
print(F"{x:40.3f}")

                                  10.346

In [41]:
print(format(10.34567,"40.3f"))

                                  10.346

In [33]:
anapara= 1000
faiz= 0.05
for yil in range(1,11):
    deposit= anapara * (1+faiz)**yil
    print(f"{yil:<2} {deposit:>10.2f}")

1     1050.00
2     1102.50
3     1157.63
4     1215.51
5     1276.28
6     1340.10
7     1407.10
8     1477.46
9     1551.33
10    1628.89

In [44]:
for number in range(10):
    if number== 5:
        break
    print(number, end=" ")

0 1 2 3 4

In [45]:
age = 70
gender = "Kadin"
if gender == "Erkek" and age >=65:
    print("hello")

In [46]:
age = 70
gender = "Kadin"
if gender == "Erkek" or age >=65:
    print("hello")

hello

In [47]:
age = 70
gender = "Kadin"
if not gender == "Erkek":
    print("hello")

hello

In [48]:
max(30,45,-7,89)

89

In [52]:
max(30.45,45.45,-7.3,8.45)

45.45

In [57]:
max("melek","anil")

'melek'

In [58]:
min(30,45,-7,89)

-7

In [59]:
min(30.45,45.45,-7.3,8.45)

-7.3

In [60]:
min("melek","anil")

'anil'

In [6]:
grades=[10,20,30,40,50,50,50]
sum(grades)/len(grades)

35.714285714285715

In [7]:
sorted(grades)

[10, 20, 30, 40, 50, 50, 50]

In [8]:
sorted(grades, reverse= True)

[50, 50, 50, 40, 30, 20, 10]

In [69]:
import statistics
print(statistics.mean(grades))
print(statistics.median(grades))
print(statistics.mode(grades))

35.714285714285715
40
50

In [74]:
import math
print(math.sqrt(25))

5.0

In [71]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [76]:
from math import sqrt
print(sqrt(25))

5.0

In [77]:
x=3
y=4
print(x,y)
x,y= y,x
print(x,y)

3 4
4 3

In [78]:
i=0
while i <10:
    print(i, end= " ")
    i += 1

0 1 2 3 4 5 6 7 8 9

In [81]:
#Asal sayi for dongusu
number = int(input("Bir sayi giriniz, asal mi ogrenin"))
flag= 0
for i in range(2,number):
    if number % i==0:
        flag=1
if flag==0:
    print(number, "asal")
else:
    print(number, "asal degil")

8 asal degil

In [82]:
#Asal sayi while dongusu
number = int(input("Bir sayi giriniz, asal mi ogrenin"))
i=2
while i <number and number%i!= 0:
    i=i+1
if i==number:
    print(number, "asal")
else:
    print(number, "asal degil")

5 asal

In [83]:
#Kullanici tanimli fonksiyonlar:
def kareAl(sayi):
    """Bu fonksiyon bir sayinin karesini geri dondurur"""
    return sayi**2

In [84]:
print(kareAl(4))

16

In [85]:
kareAl?

Signature: kareAl(sayi)
Docstring: Bu fonksiyon bir sayinin karesini geri dondurur
File:      c:\users\melek\appdata\local\temp\ipykernel_13668\4120698459.py
Type:      function

In [86]:
#arguman ile fonksiyon olusturma
def average(*args):
    print(type(args))
    return sum(args)/len(args)

In [87]:
print(average(5,10))

<class 'tuple'>
7.5

In [88]:
print(average(5,10,5,20))

<class 'tuple'>
10.0

In [90]:
import random
print(random.randrange(1,10))

9

In [130]:
import random
random.seed(32)
print(random.randrange(1,10))

2

In [136]:
import random

frequency1= 0
frequency2= 0
frequency3= 0
frequency4= 0
frequency5= 0
frequency6= 0
for roll in range(6_000_000):
    face= random.randrange(1,7)
    if face==1:
        frequency1 += 1
    elif face==2:
        frequency2 += 1
    elif face==3:
        frequency3 += 1
    elif face==4:
        frequency4 += 1
    elif face==5:
        frequency5 += 1
    elif face==6:
        frequency6 += 1
print(f'Face"{"Frequency":>13}{"Prob.":>13}')
print(f"{1:>4}{frequency1:>13}{frequency1/6000000:>13.3}")
print(f"{2:>4}{frequency2:>13}{frequency2/6000000:>13.3}")
print(f"{3:>4}{frequency3:>13}{frequency3/6000000:>13.3}")
print(f"{4:>4}{frequency4:>13}{frequency4/6000000:>13.3}")
print(f"{5:>4}{frequency5:>13}{frequency5/6000000:>13.3}")
print(f"{6:>4}{frequency6:>13}{frequency6/6000000:>13.3}")

Face"    Frequency        Prob.
   1       998543        0.166
   2       997991        0.166
   3      1000245        0.167
   4      1001914        0.167
   5      1001816        0.167
   6       999491        0.167

In [138]:
#Conditional Expression
grade=80
print("Passed"if grade >60 else "failed")

Passed

In [139]:
import random
for i in range(20):
    print("H" if random.randrange(0,2)==0 else "T",end= " ")

T T H T H T H H H T T H T T T T H T T H