In [1]:
c=[-45,6,0,72,1543]
print(c)

[-45, 6, 0, 72, 1543]

In [2]:
d=["Mary","Smith",3.57,2022]
print(d)

['Mary', 'Smith', 3.57, 2022]

In [3]:
print(c[0],c[1],c[2],c[3],c[4])

-45 6 0 72 1543

In [4]:
print(c[-1],c[-2],c[-3],c[-4],c[-5])

1543 72 0 6 -45

In [5]:
#to get a list's length
print(len(c))

5

In [6]:
#the indices must be an integer or integer expressions
a=1
b=2
print(c[a+b])

72

In [7]:
#lists re mutable, their elements can be modified
c[4]=17
print(c)

[-45, 6, 0, 72, 17]

In [8]:
#some quences are immutable
s="hello"
print(s[0])

h

In [10]:
s[0]="t"

TypeError: 'str' object does not support item assignment

In [12]:
my_list=[]
for i in range(1,6):
   my_list += [i]
print(my_list)

[1, 2, 3, 4, 5]

In [14]:
'''If the right operand contains multiple elements,
+= appends them all.'''
my_list2=[]
my_list2 += "python"
print(my_list2)

['p', 'y', 't', 'h', 'o', 'n']

In [17]:
'''You can concatenate two lists, two tuples or two strings using the + operator. The result
is a new sequence of the same type containing the left operand’s elements followed by the
right operand’s elements. The original sequences are unchanged:'''
list1 = [10,20,30]
list2 = [40,50]
concatenated_list= list1+list2
print(concatenated_list)
for i in range(len(concatenated_list)):
    print(f'{i}: {concatenated_list[i]}')

[10, 20, 30, 40, 50]
 0: 10
 1: 20
 2: 30
 3: 40
 4: 50

In [5]:
def cube_list(values):
    for i in range(len(values)):
        values[i] **= 3
    print(values)
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
cube_list(numbers)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [1]:
numbers = [1, 2, 3, 4, 5]
numbers += (6, 7)
print(numbers)
type(numbers)

[1, 2, 3, 4, 5, 6, 7]

list

In [3]:
first, second = 'hi'
print(f'{first} {second}')
type(first)

h i

str

In [5]:
numbers = list(range(1, 16))
print(numbers)
print(numbers[1:len(numbers):2])
numbers[5:10] = [0] 
print(numbers)
numbers[5:] = []
print(numbers)
numbers[:] = []
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[2, 4, 6, 8, 10, 12, 14]
[1, 2, 3, 4, 5, 0, 11, 12, 13, 14, 15]
[1, 2, 3, 4, 5]
[]

In [1]:
numbers = list(range(0, 10))
print(numbers)
del numbers[-1]
print(numbers)
del numbers[0:2]
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[2, 3, 4, 5, 6, 7, 8]

In [6]:
numbers = (10, 3, 7, 1, 9, 4, 2, 8, 5, 6)
numbers.sort()
print(numbers)
numbers.sort(reverse=True)
print(numbers)

AttributeError: 'tuple' object has no attribute 'sort'

In [8]:
numbers = [3, 7, 1, 4, 2, 8, 5, 6]
numbers *= 4
print(numbers)

[3, 7, 1, 4, 2, 8, 5, 6, 3, 7, 1, 4, 2, 8, 5, 6, 3, 7, 1, 4, 2, 8, 5, 6, 3, 7, 1, 4, 2, 8, 5, 6]

In [12]:
from random import randint
L=[]
for i in range (50):
 L.append(randint(1,10))
print(L)

[4, 6, 4, 5, 6, 4, 3, 3, 9, 4, 8, 10, 2, 8, 8, 7, 9, 3, 9, 3, 5, 1, 9, 7, 9, 6, 7, 8, 6, 8, 9, 9, 5, 8, 8, 8, 1, 8, 2, 2, 2, 1, 4, 6, 3, 2, 10, 8, 5, 2]

In [13]:
for i in range(len(L)):
 L[i]=L[i]**2
 
print(L)

[16, 36, 16, 25, 36, 16, 9, 9, 81, 16, 64, 100, 4, 64, 64, 49, 81, 9, 81, 9, 25, 1, 81, 49, 81, 36, 49, 64, 36, 64, 81, 81, 25, 64, 64, 64, 1, 64, 4, 4, 4, 1, 16, 36, 9, 4, 100, 64, 25, 4]

In [15]:
count=0
for item in L :
 if item>50:
  count=count+1
print(count)

19

In [16]:
frequencies=[]
for item in range (1,101):
 frequencies.append(L.count(item))
print(frequencies)

[3, 0, 0, 6, 0, 0, 0, 0, 5, 0, 0, 0, 0, 0, 0, 5, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 7, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2]

In [20]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(myFunc, ages)

for y in adults:
  print(y)

18
24
32

In [21]:
randomList = [1, 'a', 0, False, True, '0']
filteredList = filter(None, randomList)
print('The filtered elements are:')
for element in filteredList:
    print(element)

The filtered elements are:
1
a
True
0

In [23]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(myFunc, ages)


print(adults)

for x in adults:
  print(x)

<filter object at 0x000002524B488E50>
18
24
32

In [26]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(map(lambda x: x * 2 , my_list))

print(new_list)

[item ** 2 for item in numbers]

[2, 10, 8, 12, 16, 22, 6, 24]

[100, 9, 49, 1, 81, 16, 4, 64, 25, 36]

In [27]:
ages = (5, 12, 17, 18, 24, 32)

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(myFunc, ages)

for x in adults:
  print(x)

18
24
32

In [36]:
my_list = (1, 5, 4, 6, 8, 11, 3, 12)

new_list = list(map(lambda x: x * 2 , my_list))

print(new_list)

[2, 10, 8, 12, 16, 22, 6, 24]

In [31]:
def myfunc(n):
  return len(n)

x = map(myfunc, ('apple', 'banana', 'cherry'))
for y in x:
 print(y)

5
6
6

In [42]:
list(filter(lambda x: x % 2 != 0, numbers))
#list(map(lambda x: x ** 2, filter(lambda x: x % 2 != 0, numbers)))

[3, 7, 1, 9, 5]

In [43]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(map(lambda x: (x%2 == 0) , my_list))

print(new_list)

[False, False, True, True, True, False, False, True]

In [49]:
country_codes = {"Finland": "fi", "South Africa": "za", 'Nepal': 'np'}
print(country_codes)

{'Finland': 'fi', 'South Africa': 'za', 'Nepal': 'np'}

In [51]:
months = {'January': 1, 'February': 2, 'March': 3}
print(months.keys())
print(months.values())
print(months.items())

dict_keys(['January', 'February', 'March'])
dict_values([1, 2, 3])
dict_items([('January', 1), ('February', 2), ('March', 3)])

In [54]:
import statistics 

grade_book = {'Susan': [92, 85, 100],'Eduardo': [83, 95, 79],'Azizi': [91, 89, 82],'Pantipa': [97, 91, 92]}

all_grades_total = 0
all_grades_count = 0
total = 0

for name,grades in grade_book.items():
    average = statistics.mean(grades)
    print(f'Average for {name} is {average:.2f}')
    all_grades_total += sum(grades)
    all_grades_count += len(grades)
print()
print(f"Class's average is: {all_grades_total / all_grades_count:.2f}")

Average for Susan is 92.33
Average for Eduardo is 85.67
Average for Azizi is 87.33
Average for Pantipa is 93.33

Class's average is: 89.67

In [56]:
import numpy as np
numbers = np.array([2,3,5,7,11])
type(numbers)
print(numbers)

ModuleNotFoundError: No module named 'numpy'

In [58]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [63]:
for i in range(1,10,1):
    print(i)

1
2
3
4
5
6
7
8
9

In [62]:
for i in range(-10,-1,1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2

In [69]:
values = '1\t2\t3\t4\t5'
print(values)
values.replace('\t', ',')

1	2	3	4	5

'1,2,3,4,5'

In [2]:
def characterCounts(s):
    counts={}
    for a in s:
        if a in counts:
            counts[a] += 1
        else:
            counts[a] = 1
    return counts

s1 = input("Enter the first  word= ")
s2=  input("Enter the second word= ")

dict1 = characterCounts(s1)
dict2 = characterCounts(s2)

print(dict1)
print(dict2)

if dict1 == dict2:
    print("These words have exactly the same characters with the same frequencies")
else:
    print("These words dont have exactly the same characters with the same frequencies")

{'a': 1, 'y': 1, 's': 1, 'u': 1, 'n': 3}
{'a': 1, 'y': 1, 's': 1, 'n': 3, 'u': 1}
These words have exactly the same characters with the same frequencies

In [5]:
colors = {"red","red","pink","orange","blue","orange"}
type(colors)
print(colors)

{'orange', 'blue', 'pink', 'red'}

In [13]:
print({1,3,5} <= {5,3,7,8,9})
print({1,3,5} <= {1,5,3,7,8,9})

False
True

In [18]:
print({1,2,3} | {2,3,4,5})
print({1,2,3} | (2,3,4,5))
print({1,2,3}.union({2,3,4,5}))
print({1,2,3}.union([2,3,4,5]))

{1, 2, 3, 4, 5}

TypeError: unsupported operand type(s) for |: 'set' and 'tuple'

In [24]:
print({1,2,3}.isdisjoint((4,5)))
print({1,2,3,4}.isdisjoint({4,5}))

True
False

In [25]:
numbers=[1,2,2,2,3,4,5,6,6,7,8,9,10,10]

evens = {i for i in numbers if i % 2 == 0}
print(evens)

{2, 4, 6, 8, 10}

In [2]:
my_list2=[]
my_list2 += ["python"]
print(my_list2)

['python']

In [11]:
a = [1, 2, 3]
b = [1, 3]
c = [1, 3, 4]
print(a == b)
print(a == c)
print(a < c )
print(c > b)

False
False
True
True

SyntaxError: invalid syntax (646815855.py, line 1)